<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img class="logo-icon" src="../../../../assets/pokedex-icon.png">
    </a>
    <a class="navbar-item">
      Pokedex
    </a>
    <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <button type="button" class="nes-btn is-error">Menu</button>
    </a> -->
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <!-- <button type="button" class="nes-btn is-error">Menu</button> -->
      </div>
    </div>
  </div>
</nav>
